.why {
    display: flex;
    align-items: flex-start;
    position: relative;
    gap: 100px;
    padding-top: 220px;

    @include desktop-big{
        align-items: center;
        gap: 0px;
        padding: 20px;
    }

    @include tablet-big{
        align-items: flex-start;
        justify-content: flex-start;
    }


    &__article {
    }

    &__title {
        margin-top: 100px;
        color: var(--white);
font-family: var(--ff);
font-size: 56px;
font-weight: 600;
line-height: 92px;
letter-spacing: 0%;
text-align: left;
max-width: 496px;
@include tablet-big{
    text-align: left;
}
    }

    &__desc {
        max-width:591px;
        color: var(--white);
font-family: var(--ff);
font-size: 22px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: left;

    }

    &__img {
        
        width: 685px;
        height: 673px;

        @include desktop-big{
            width: 500px;
            height: 490px;
        }

        @include tablet-big{
            display: none;
        }
  
    }
   
    &__sun{
       
        position: absolute;
        top: 50px;
        @include tablet-big{
            right: 0;
        }
        @include mobile{
            z-index: -1;
            left: 10px;
        }

        @include mobile{
           
        }
       
    }

    &__beam{
        filter: blur(135.16px);
        top: 50px;
        
        background: rgb(249, 216, 102);
        position: absolute;
        width: 218px;
        height: 218px;

        @include tablet-big{
            right: 0;
        }
        @include mobile{
            left: 0;
        }
        

    }
}
