html, body {
	height: 100%;
}
body {
	font-family: var(--ff);
	display: grid;
	grid-template-rows: auto 1fr auto;
	background: #313131;
	overflow-x: hidden;
}
.container {
	max-width: 1250px;
	margin-inline: auto;
	
    @include desktop-big{
        padding: 20px;
    }
}
.main {
	padding: 20px;
}
